{% extends 'gradus/base.html' %}

{% block title %}Игра{% endblock title %}

{% block content %}
    <h1>{{ game }}</h1>
    <h2>{{ game.data|date:"d.m.Y H:i" }}</h2>
    <h3><a href="{% url 'gradus_team:show_team' game.home_team.slug_team %}">{{ game.home_team }}</a>:</h3>
    <h4>Состав команды {{ game.home_team }}</h4>
    <ul>
        {% for player in composition_HT.all %}
            <li><a href="{{ player.get_absolute_url }}">{{ player.last_name }} {{ player.first_name }}</a></li>
        {% endfor %}
    </ul>
        {% include "./includes/table_goals_assists.html" with goals=goals_HT %}
        {% include "./includes/list_yellow_cards.html" with team=game.home_team yellow_cards=yellow_card_HT %}
        {% include "./includes/list_red_cards.html" with team=game.home_team red_cards=red_card_HT %}
    <h3><a href="{% url 'gradus_team:show_team' game.guest_team.slug_team %}">{{ game.guest_team }}</a>:</h3>
    <h4>Состав команды {{ game.guest_team }}</h4>
    <ul>
        {% for player in composition_GT.all %}
            <li><a href="{{ player.get_absolute_url }}">{{ player.last_name }} {{ player.first_name }}</a></li>
        {% endfor %}
    </ul>
        {% include "./includes/table_goals_assists.html" with goals=goals_GT %}
        {% include "./includes/list_yellow_cards.html" with team=game.guest_team yellow_cards=yellow_card_GT %}
        {% include "./includes/list_red_cards.html" with team=game.guest_team red_cards=red_card_GT %}
{% endblock %}
